body {
  font-family: Arial, sans-serif;
  background-color: #eef;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  
}

#city-input {
  padding: 10px;
  width: 200px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  margin-left: 8px;
  cursor: pointer;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.weather-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  width: 160px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-card img {
  width: 64px;
  height: 64px;
}

.day {
  font-weight: bold;
  margin-bottom: 5px;
}
